h1{
<<<<<<< HEAD
	font-family: 'Merriweather Sans', sans-serif;
=======
  font-family: 'Merriweather Sans', sans-serif;
>>>>>>> c6f383956063f11a9dc7b80893ede40d4c8ef940
	font-size: 35px;
	padding: 20px;
	margin-bottom: 20px;
	float:center;

}
.name{
	background-color: pink;
	width:50%;
	height: 140px;
	margin-bottom: 20px;
}
body{
	background-color:#FFFF99;
}
h2{
	font-family: 'Merriweather Sans', sans-serif;
	height:30px;

}
.link{
	font-family: 'Merriweather Sans', sans-serif; font-weight: 300;
	font-size: 17px;
}

}

h4{
	font-family: 'Merriweather Sans', sans-serif; font-weight: 300;
	height:20px;
	color: black;
	text-align: left;
	font-size: 17px;
}

.text{
	font-family: 'Merriweather Sans', sans-serif; font-weight: 300;
	color: black;
	text-align: left;
	font-size: 15px;
	background-color: pink;
	padding: 20px;
	width: 47%;
}

a{
	padding-left: 5px;
	padding-right: 5px;
	color: #cc6c6c;
	font-size: 15px;
	transition:all .1s ease-in;

}

h3{
	font-family: 'Niconne', cursive;
	font-size: 20px;
	color: #cc6c6c;
}

h5{
	font-family: 'Niconne', cursive;
	font-size: 50px;
	color: #cc6c6c;
	text-align: center;
	margin: 0em;
}

.contact{
	font-family: 'Merriweather Sans', sans-serif; font-weight: 400;
	background-color:pink;
	width: 47%;
	padding: 20px;
}

.heading{
	font-size: 50px;
}

.projectpics{
	margin: 20px;
}

.picturelink{

}
.picturelink:hover{
	background-color: pink;
}

.navigation{
	float: center;
	background-color: pink;
	width: 50%;
	height: 36px;
	text-align: center;
	vertical-align: center;
}
a:hover
{
	background-color: red;
	color: pink;
	width:900px;

}
a:link {text-decoration:none}
<<<<<<< HEAD
a:visited {text-decoration:none}
=======
a:visited {text-decoration:none}
>>>>>>> c6f383956063f11a9dc7b80893ede40d4c8ef940
