#container{
	position:relative;
	height: 50px;
	width:100%;
}
.name{
	font-family:"Verdana";
	color:brown;
	font-size: 60;
	border: 2px solid white;
}
#myName{
	font-family: "Verdana";
	color: brown;
	font-size: 60;
	background-color: white;
}

.homebutton{
	position:relative;
	float: left;
    background: white;
    font-family: 'Verdana';
    font-size: 20;
    width: 130px;
    height: 40px;
    vertical-align-align: center;
    border: 1px solid white;
}

.homebutton:hover
{
	background: #C8C8C8 ;
}

a:link {text-decoration:none; color: #cc6c6c;}
a:visited {text-decoration:none; color: #cc6c6c;}

.words{
	font-family: "Verdana";
}

#headerContainer{
	margin:auto;
	width:900px;
	height:10px;
}
#stephanie{
	margin: 5;
	border: 10px solid white;
	float:left;
}
#header{
	float:left;
	color: brown;
	background-color: white;
	margin: 5;	
}

#table{

}

#description{
	background-color: white;
	width: 900px;
	height: 70px;
}

#menu {
	background-color: white;
	width: 785px;
	padding-left: 20px;
	border-top: 5 solid white;
	border-bottom: 5 solid white;
	margin: 5;
	float: right;
	margin-top: 10px;
	margin-right: 70px;
	position: relative;
}

#menutext{
	font-family: Verdana;
	font-size: 20;
}

#homepage {

	background-color: white;
	width: 785px;
	padding: 10px;
	margin: 5px;
	float: right;
	margin-top: 10px;
	margin-right: 70px;
	position: relative;
}

#hometext{
	font-family: Verdana;
	font-size: 20;
}
}

#container{
	position:relative;
	height: 50px;
	width:100%;
}
.name{
	font-family:"Verdana";
	color:brown;
	font-size: 60;
	border: 2px solid white;
}

body{
	background-attachment: fixed;
}

.words{
	font-family: "Verdana";
}



#headerContainer{
	margin:auto;
	width:900px;
	height:10px;
}
#stephanie{
	margin: 5;
	border: 10px solid white;
	float:left;
}
#myName{
	font-family: "Verdana";
	color: brown;
	font-size: 60;
	background-color: white;
	padding-bottom: 5px;
}


#stephanie.resize{
	width:200px; /* you can use % */
    height: auto;
}
}
#header{
	float:left;
	color: brown;
	background-color: white;
	margin: 5;	
}

#table{

}

#description{
	background-color: white;
	padding: 10px;
	width:800px;
	height: 5%;
	font-family: "Verdana";
}

#menu {
	background-color: white;
	width: 785px;
	float: right;
	margin-top: 10px;
	margin-right: 70px;
	position: relative;
}

#aboutme{
	background-color:white;
	width: 745px;
	float: right;
	margin-top: 10px;
	margin-right:70px;
	position: relative;
	padding: 20px;
}

#menutext{
	font-family: Verdana;
	font-size: 30;
}


#homepage {

	background-color: white;
	width: 785px;
	padding: 10px;
	margin: 5px;
	float: right;
	margin-top: 10px;
	margin-right: 70px;
	
}


#hometext{
	font-family: Verdana;
	font-size: 18;
}

.homebutton{
	position:relative;
	float: left;
    background: white;
    font-family: 'Verdana';
    font-size: 20;
    width: 130px;
    height: 40px;
    vertical-align-align: center;
    border: 1px solid white;
}

.homebutton:hover
{
	background: #C8C8C8 ;
}

a:link {text-decoration:none; color: #cc6c6c;}
a:visited {text-decoration:none; color: #cc6c6c;}

