#menubuttons{
	font-family: 'Cabin Condensed', sans-serif; 
	font-weight: 700;
	font-size: 24px;
	padding-left: 1%;
	padding-right: 1%;
	background-color: #000066;

}

#menu{
	padding-bottom: 5px;
	margin: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	background-color: #000066;
}

#logo{
	font-family: 'Lily Script One', cursive;
	font-size: 55px;
}

#logodiv{
	padding-top: 10px;
	padding-bottom: 10px;
}

#navbar{
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	background-color: #000066;
	margin: 0px;
}

.gradient{
	left:0px;
	width:100%;
	position:fixed;
	padding: 0px;
	margin: 0px;
	height: 10px;
	background: url(images/linear_bg_2.png);
	background-repeat: repeat-x;
	background -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000066), to(#000044));
	background: -webkit-linear-gradient(top, #000066,#000044); linear-
	background: -moz-linear-gradient(top, #000066,#000044); 
	background: -ms-linear-gradient(top, #000066, #000044); 
	background: -o-linear-gradient(top, #000066, #000044); 
}
body{
	background-color:#E8E8E8 ;
}
a{
	color: #FFCC00;
	transition:all .1s ease-in;
}
a:hover{color:#FFFF99; }
a:link {text-decoration:none}
a:visited {text-decoration:none}