h1{
  font-family: 'Merriweather Sans', sans-serif;
	font-size: 35px;
	padding: 20px;
	margin-bottom: 20px;
	float:center;

}
.name{
	background-color: pink;
	width:50%;
	margin-bottom: 20px;
	padding-bottom: 2px;
}
body{
	background-color:#FFFFCE;
}
h2{
	font-family: 'Merriweather Sans', sans-serif;
	height:30px;

}
.link{
	font-family: 'Merriweather Sans', sans-serif; font-weight: 300;
	font-size: 17px;
}

}

h4{
	font-family: 'Merriweather Sans', sans-serif; font-weight: 300;
	height:20px;
	color: black;
	text-align: left;
	font-size: 17px;
}

.text{
	font-family: 'Merriweather Sans', sans-serif; font-weight: 300;
	color: black;
	text-align: left;
	font-size: 15px;
	background-color: pink;
	padding: 20px;
	width: 47%;
}
.textlink{
	font-weight:bold;
	padding: 0px;
	color: #cc6c6c;
	font-size: 15px;
	transition:all .1s ease-in;
}

.textlink:hover{
	padding: 0px;
	font-weight:bold;
	background-color: red;
	color: pink;
	width:900px;
}

a{
	padding-left: 5px;
	padding-right: 5px;
	color: #cc6c6c;
	font-size: 15px;
	transition:all .1s ease-in;
}

h3{
	font-family: 'Niconne', cursive;
	font-size: 20px;
	color: #cc6c6c;
}

h5{
	font-family: 'Niconne', cursive;
	font-size: 50px;
	color: #cc6c6c;
	text-align: center;
	margin: 0em;
}

.contact{
	font-family: 'Merriweather Sans', sans-serif; font-weight: 400;
	background-color:pink;
	width: 47%;
	padding: 20px;
}

.heading{
	font-size: 50px;
}

.projectpics{
	margin: 20px;
}

a.picturelink{
background-color: pink;
}
a.picturelink:hover{
	background-color: pink;
}

.navigation{
	float: center;
	background-color: pink;
	width: 50%;
	height: 36px;
	text-align: center;
	vertical-align: center;
}
a:hover
{
	width:1px;
	background-color: red;
	color: pink;
	width:900px;

}
img{
	border:5px solid;
	transition:all .1s ease-in;
}
img:hover{border:5px solid red;}
a:link {text-decoration:none}
a:visited {text-decoration:none}
::selection
{
color:#ff0000;
}
::-moz-selection
{
color:#ff0000;
}
